.center {
    text-align: center;
}

body  {
    background-color: #453420;
    color: #ffffff;
}

div.cell {
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #000000;
    margin: auto;
    padding: 25px;
}

div.payment-ui {
    background-color: #dec8af;
    border-radius: 10px;
    color: #0f0f0f;
}

div.sub-content {
    background-color: #dec8af;
    border-radius: 10px;
}

div.sub-content-header {
    background-color: #c7a379;
    padding-top: 0px;
}

div.payment-element {
    padding: 10px;
}

div.thumbnail {
    background-color: #a7b39b;
}

h2.quantity {
    background-color: #c6c97b;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #c6c97b;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}

button:hover span {
  padding-right: 0px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

img {
    border: 0;
    border-radius: 50%;
    transition: all 0.5s;
}

img.item {

}

img:hover {
    opacity: 0.6;
}

img.mod {

}

h1.title {
    font-family: "Helvetica", Times, serif;
    font-size: 40px;
}

h1.subtitle {
    padding-left: 10px;
}

#total {
    border-bottom: dashed;
    border-width: 5px;
}