<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YCCM Cafe: Cashier</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/cashier_ui.css' %}" />
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <h1 class="title center">YCCM Cafe</h1>
    </div> <!-- Title -->
    <div class="row ">
      <div class="col-sm-12 col-md-offset-1 col-md-6 "> <!-- Main UI -->

        <div class="row sub-content">
          <div class="sub-content-header">
            <h1 class="subtitle">Drinks</h1>
            {% if inventory_list %}
              {% for item in inventory_list %}
                <!-- Template of item -->
                  {% if item.drink %}
                    <div class="col-sm-12 col-md-6">
                    <div class="thumbnail">
                      <div class="row">
                        <div class="col-sm-5 col-md-5">
                          <img class="item" onclick="createItem('{{ item.name }}', '{{ item.guid }}')" src="../../static/{{ item.image }}" alt="{{ item.name }}" height="150px" width="150px">

                        </div>
                        <div class="col-sm-7 col-md-7">
                          <div>
                            <h2 class="quantity center">Quantity
                              <input type="text" class="form-control" id="{{ item.guid }}Qty" value="1">
                              <img onclick="subtractFromQuantity('{{ item.guid }}Qty')" src="../../static/images/minus-button.png" width="24px" height="24px" class="item">
                              <img onclick="addToQuantity( '{{ item.guid }}Qty')" src="../../static/images/plus-button.png" width="24px" height="24px" class="item">
                            </h2>
                          </div>
                        </div>
                      </div>
                      <div class="caption">
                        <h3><b>{{ item.name }}</b></h3>
                        <div class="row">
                          <div class="col-sm-2 col-md-2">
                            <h3>${{ item.price }}0</h3>
                          </div>

                        <div class="col-sm-10 col-md-offset-1 col-md-9">
                          <div class="container-fluid dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Add On
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              {% for mod in mods_list %}
                                {% if mod.name == "Add Ice" %}
                                  <li>
                                    <a onclick="toggleOption('{{ item.guid }}{{ mod.guid }}')"><i>{{ mod.name }}</i> |
                                      <span id="{{ item.guid }}IceOpt" data-toggle="false"><b>False</b></span>
                                    </a>
                                  </li>
                                {% else %}
                                  <li>
                                    <a><i>{{ mod.name }}</i>
                                      <img onclick="addToQuantity( '{{ item.guid }}{{ mod.guid }}')" src="../../static/images/plus-button.png" width="24px" height="24px" class="item">
                                      <input type="text" class="form-control" id="{{ item.guid }}{{ mod.guid }}" value="0" style="width: 40px">
                                      <img onclick="subtractFromQuantity('{{ item.guid }}{{ mod.guid }}')" src="../../static/images/minus-button.png" width="24px" height="24px" class="item">
                                    </a>
                                  </li>
                                {% endif %}

                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  {% else %}
                  {% endif %}
              {% endfor %}
            {% else %}
              <p>No items are available.</p>
            {% endif %}
          </div>
        </div> <!-- Drinks Content -->

        <div class="row"></div>

        <div class="row sub-content" style="margin-top: 20px;">
          <div class="sub-content-header">
            <h1 class="subtitle">Bakery Items</h1>
            {% if inventory_list %}
              {% for item in inventory_list %}
                <!-- Template of item -->
                  {% if not item.drink %}
                    <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                      <div class="row">

                        <div class="col-md-5">
                          <img class="item" onclick="createItem('{{ item.name }}', '{{ item.guid }}')" src="../../static/{{ item.image }}" alt="{{ item.name }}" height="150px" width="150px">
                        </div>

                        <div class="col-sm-7 col-md-7">
                          <h2 class="quantity center">Quantity
                            <input type="text" class="form-control" id="{{ item.guid }}Qty" value="1">
                            <img onclick="subtractFromQuantity('{{ item.guid }}Qty')" src="../../static/images/minus-button.png" width="24px" height="24px" class="item">
                            <img onclick="addToQuantity( '{{ item.guid }}Qty')" src="../../static/images/plus-button.png" width="24px" height="24px" class="item">
                          </h2>
                        </div>
                      </div>

                      <div class="caption">
                        <h3><b>{{ item.name }}</b></h3>
                        <div class="row">
                          <div class="col-md-2  ">
                            <h3>${{ item.price }}0</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  {% else %}
                  {% endif %}
              {% endfor %}
            {% else %}
              <p>No items are available.</p>
            {% endif %}
          </div>
        </div> <!-- Baked Goods Content -->
      </div> <!-- Main UI -->


    <div class="col-sm-12 col-md-offset-1 col-md-3 payment-ui">
        <div class="row">
          <h1 class="center">Payment Page</h1>
        </div>

        <div class="row payment-element">
          <div class="input-group">
            <span class="input-group-addon" >Name of Customer</span>
            <input type="text" id="customerName" class="form-control" placeholder="Customer Name" aria-describedby="basic-addon1" value="">
          </div>
        </div> <!-- Input Page -->


          <h3>Receipt: </h3>
          <p id="receipt"></p>
        <div class="row receipt payment-element" id="total">
          <div class="col-md-3"><h2 >Total: </h2></div>
          <div class="col-md-3 col-md-offset-6"><h2>$<span id="totalPrice">0.00</span></h2></div>
        </div>

        <div class="row payment-element">
          <div class="col-md-6">
            <button class="btn btn-danger" type="button"><h3>Cancel</h3></button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" type="button" onclick="submit()"><h3>Submit</h3></button>
          </div>
        </div>
      </div> <!-- Payment UI -->
    </div> <!-- Row -->

  </div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-switch.min.js' %}"></script>

<script>
  // Variables
  var totalItemCount = 0;
  var receipt = {
      "items": [],
  };

  // Receipt Functions
  function createItem(name, itemGuid) {
      var quantity = getQuantity(itemGuid+"Qty");
      var espressoQuantity = getQuantity(itemGuid+"EspQty");
      var chocolateQuantity = getQuantity(itemGuid+"ChocSyrup");
      var vanillaQuantity = getQuantity(itemGuid+"VaniSyrup");
      var hazelnutQuantity = getQuantity(itemGuid+"HazeSyrup");
      var caramelQuantity = getQuantity(itemGuid+"CaraSyrup");

      // Validate
      if(quantity < 0 || espressoQuantity < 0 || chocolateQuantity < 0 ||
          vanillaQuantity < 0 || hazelnutQuantity < 0 || caramelQuantity < 0) {
          alert("Quantities must be a positive integer.");
          return;
      }

      var item = {
          "name": name,
          "quantity": quantity,
          "numEspressoShots": espressoQuantity,
          "numChocolateShots": chocolateQuantity,
          "numVanillaShots": vanillaQuantity,
          "numHazelnutShots": hazelnutQuantity,
          "numCaramelShots": caramelQuantity,
          "hasIce": getToggle(itemGuid+"IceOpt"),
          "hasSizeUpgrade": getToggle(itemGuid+"UpgradeOpt")
      };

      insertItemToJSON(item);
      updateReceiptText(receipt);

      console.log(receipt);

      resetFields(itemGuid);
  }
  function insertItemToJSON(item) {
    receipt["items"][totalItemCount] = item;
    totalItemCount++;
  }
  function resetFields(itemGuid) {
      var modGuids = [];
      {% for mod in mods_list %}
          modGuids.push('{{ mod.guid }}');
      {% endfor %}

      var itemGuidQty = itemGuid + "Qty";

      document.getElementById(itemGuidQty).value = 1;

      // Iterate through all the mods. If not a quantity field, assume it's a toggle and call resetToggle
      for(var i = 0; modGuids.length; i++) {
          if(document.getElementById(itemGuid + modGuids[i]).value !== null) {
              document.getElementById(itemGuid + modGuids[i]).value = 0;
          } else {
              resetToggle(itemGuid + modGuids[i]);
          }
      }

  }

  function getCustomerName() {
      if(document.getElementById('customerName').value === "") {
          throw {
              error: "CustomerNameNullException",
              message: "Customer name cannot be empty"
          };
      } else {
          return document.getElementById('customerName').value;
      }
  }
  function submit() {
      try {
          generatePOSTJson();
      } catch(e) {
          alert(e.message);
      }
  }
  function generatePOSTJson() {
      try {
          return {
              "customerName": getCustomerName(),
              "receipt": getReceipt()
          };
      } catch(e) {
          throw e;
      }

  }
  function getReceipt() {
      if(receipt.items.length > 0) {
        return receipt;
      } else {
          throw {
              error: "EmptyReceiptException",
              message: "Receipt cannot be empty"
          }
      }
  }
  function updateReceiptText(items) {
      var element = document.getElementById("receipt");
      element.innerHTML = ""; // Clear the receipt
      var innerHTML = "";
      var items = receipt.items;
      // Iterate through the items array
      for (var i = 0; i < items.length; i++) {
          innerHTML += items[i].quantity + "x <b>" + items[i].name + "</b><br>";
          if(items[i].numEspressoShots > 0) innerHTML += "<span style=\"padding-left:5em\"><i>Espresso Shots: " + items[i].numEspressoShots + "</i></span><br>";
          if(items[i].numCaramelShots > 0) innerHTML += "<span style=\"padding-left:5em\"><i>Caramel Shots: " + items[i].numCaramelShots + "</i></span><br>";
          if(items[i].numChocolateShots > 0) innerHTML += "<span style=\"padding-left:5em\"><i>Chocolate Shots: " + items[i].numChocolateShots + "</i></span><br>";
          if(items[i].numHazelnutShots > 0) innerHTML += "<span style=\"padding-left:5em\"><i>Hazelnut Shots: " + items[i].numHazelnutShots + "</i></span><br>";
          if(items[i].hasIce) innerHTML += "<span style=\"padding-left:5em\"><i>With Ice</i></span><br>";
          if(items[i].hasSizeUpgrade) innerHTML += "<span style=\"padding-left:5em\"><i>Upgrade to 12 oz q</i></span><br>";
      }
      console.log("items = " + innerHTML);
      element.innerHTML += innerHTML;
  }
  function calculateTotalCost(items) {

  }

  // Quantity Functions
  function addToQuantity(itemGuid) {
      var quantity = 0;
      if(isNaN(parseInt(document.getElementById(itemGuid).value))) {
          alert("Quantity must be a positive integer");
      } else {
          quantity = parseInt(document.getElementById(itemGuid).value) + 1;
          document.getElementById(itemGuid).value = quantity;
      }

      return quantity;
  }
  function subtractFromQuantity(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(isNaN(parseInt(element.value)) || parseInt(element.value) < 0) {
          alert("Quantity must be a positive integer");
      } else {
          var quantity = element.value;
          if(quantity > 1) {
              quantity -= 1;
              element.value = quantity;
          }
      }
      return quantity;
  }
  function getQuantity(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(element !== null) {
          return isNaN(parseInt(document.getElementById(itemGuid).value)) ? 0 : parseInt(document.getElementById(itemGuid).value);
      }
      return 0;
  }

  // Toggle Functions
  function toggleOption(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(element.getAttribute('data-toggle') === "false") {
          // Set the toggle to true and highlight the image
          element.setAttribute('data-toggle', "true");
          element.innerHTML = "<b>True</b>";
      } else {
          // Set the toggle to false and deselect the image
          document.getElementById(itemGuid).setAttribute('data-toggle', "false");
          element.innerHTML = "<b>False</b>";
      }
  }
  function getToggle(itemGuid) {
      if(document.getElementById(itemGuid) === null) {
          return null;
      }
      return document.getElementById(itemGuid).getAttribute('data-toggle') === 'true';
  }
  function resetToggle(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(element !== null) {
          element.setAttribute('data-toggle', "false");
          element.innerHTML = "<b>True</b>";
      }
  }

  // On Document Ready
  $( document ).ready(function() {
  });
</script>

</body>
</html>