<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YCCM Cafe: Cashier</title>
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/cashier_ui.css' %}" />
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <h1 class="title center">YCCM Cafe</h1>
    </div> <!-- Title -->
    <div class="row ">
      <div class="col-sm-12 col-md-offset-1 col-md-6 "> <!-- Main UI -->

        <div class="row sub-content">
          <div class="sub-content-header">
            <h1 class="subtitle">Drinks</h1>
            {% if inventory_list %}
              {% for item in inventory_list %}
                <!-- Template of item -->
                  {% if item.drink %}
                    <div class="col-sm-12 col-md-6">
                    <div class="thumbnail">
                      <div class="row">
                        <div class="col-sm-5 col-md-5">
                          <img class="item" onclick="createItem('{{ item.name }}', '{{ item.guid }}', {{ item.price }})" src="../../static/images/{{ item.image }}" alt="{{ item.name }}" height="150px" width="150px">

                        </div>
                        <div class="col-sm-7 col-md-7">
                          <div>
                            <h2 class="quantity center">Quantity
                              <input type="text" class="form-control" id="{{ item.guid }}Qty" value="1">
                              <img onclick="subtractFromQuantity('{{ item.guid }}Qty')" src="../../static/images/minus-button.png" width="24px" height="24px" class="item">
                              <img onclick="addToQuantity( '{{ item.guid }}Qty')" src="../../static/images/plus-button.png" width="24px" height="24px" class="item">
                            </h2>
                          </div>
                        </div>
                      </div>
                      <div class="caption">
                        <h3><b>{{ item.name }}</b></h3>
                        <div class="row">
                          <div class="col-sm-2 col-md-2">
                            <h3>${{ item.price }}0</h3>
                          </div>

                        <div class="col-sm-10 col-md-offset-1 col-md-9">
                          <div class="container-fluid dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Add On
                            <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                              {% for mod in mods_list %}
                                {% if mod.name == "Add Ice" %}
                                  <li>
                                    <a onclick="toggleOption('{{ item.guid }}{{ mod.guid }}')"><i>{{ mod.name }}</i> |
                                      <span id="{{ item.guid }}IceOpt" data-toggle="false"><b>False</b></span>
                                    </a>
                                  </li>
                                {% else %}
                                  <li>
                                    <a><i>{{ mod.name }}</i>
                                      <img onclick="addToQuantity( '{{ item.guid }}{{ mod.guid }}')" src="../../static/images/plus-button.png" width="24px" height="24px" class="item">
                                      <input type="text" class="form-control" id="{{ item.guid }}{{ mod.guid }}" value="0" style="width: 40px">
                                      <img onclick="subtractFromQuantity('{{ item.guid }}{{ mod.guid }}')" src="../../static/images/minus-button.png" width="24px" height="24px" class="item">
                                    </a>
                                  </li>
                                {% endif %}

                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  {% else %}
                  {% endif %}
              {% endfor %}
            {% else %}
              <p>No items are available.</p>
            {% endif %}
          </div>
        </div> <!-- Drinks Content -->

        <div class="row"></div>

        <div class="row sub-content" style="margin-top: 20px;">
          <div class="sub-content-header">
            <h1 class="subtitle">Bakery Items</h1>
            {% if inventory_list %}
              {% for item in inventory_list %}
                <!-- Template of item -->
                  {% if not item.drink %}
                    <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                      <div class="row">

                        <div class="col-md-5">
                          <img class="item" onclick="createItem('{{ item.name }}', '{{ item.guid }}', {{ item.price }})" src="../../static/images/{{ item.image }}" alt="{{ item.name }}" height="150px" width="150px">
                        </div>

                        <div class="col-sm-7 col-md-7">
                          <h2 class="quantity center">Quantity
                            <input type="text" class="form-control" id="{{ item.guid }}Qty" value="1">
                            <img onclick="subtractFromQuantity('{{ item.guid }}Qty')" src="../../static/images/minus-button.png" width="24px" height="24px" class="item">
                            <img onclick="addToQuantity( '{{ item.guid }}Qty')" src="../../static/images/plus-button.png" width="24px" height="24px" class="item">
                          </h2>
                        </div>
                      </div>

                      <div class="caption">
                        <h3><b>{{ item.name }}</b></h3>
                        <div class="row">
                          <div class="col-md-2  ">
                            <h3>${{ item.price }}0</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  {% else %}
                  {% endif %}
              {% endfor %}
            {% else %}
              <p>No items are available.</p>
            {% endif %}
          </div>
        </div> <!-- Baked Goods Content -->
      </div> <!-- Main UI -->


    <div class="col-sm-12 col-md-offset-1 col-md-3 payment-ui">
        <div class="row">
          <h1 class="center">Payment Page</h1>
        </div>

        <div class="row payment-element">
          <div class="input-group">
            <span class="input-group-addon" >Name of Customer</span>
            <input type="text" id="customerName" class="form-control" placeholder="Customer Name" aria-describedby="basic-addon1" value="">
          </div>
        </div> <!-- Input Page -->


          <h3>Receipt: </h3>
          <p id="receipt"></p>
        <div class="row receipt payment-element" id="total">
          <div class="col-md-3"><h2 >Total: </h2></div>
          <div class="col-md-3 col-md-offset-6"><h2>$<span id="totalPrice">0.00</span></h2></div>
        </div>

        <div class="row payment-element">
          <div class="col-md-6">
            <button type="button" class="btn btn-danger" onclick="clear()">
              <h3>Cancel</h3>
            </button>
          </div>
          <div class="col-md-6">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" onclick="submit()">
              <h3>Pay Now</h3>
            </button>

            <!-- Payment Modal -->
            <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Check Out</h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <img src="../../static/images/cash.PNG" class="payment-option" onclick="renderCashModal()" width="256px" height="256px">
                      </div>
                      <div class="col-md-6">
                        <img src="../../static/images/credit.PNG" class="payment-option" onclick="renderCreditModal()" width="256px" height="256px">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><h3>Cancel</h3></button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Cash Modal -->
            <div class="modal fade" id="cashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Cash Option</h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-3"><h2 >Total: </h2></div>
                      <div class="col-md-3 col-md-offset-6"><h2>$<span id="totalPrice-CashCheckout">0.00</span></h2></div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"><h3>Enter amount tendered:</h3></div>
                      <div class="col-md-3 col-md-offset-6">
                        <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input type="text" class="form-control" aria-label="Amount">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="renderPaymentModal()"><h3>Cancel</h3></button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="renderCashEndModal()"><h3>Submit</h3></button>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Credit Modal -->
            <div class="modal fade" id="creditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Card Option</h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-3"><h2 >Total: </h2></div>
                      <div class="col-md-3 col-md-offset-6"><h2>$<span id="totalPrice-CashCheckout">0.00</span></h2></div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"><h3>Enter amount tendered:</h3></div>
                      <div class="col-md-3 col-md-offset-6">
                        <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input type="text" class="form-control" aria-label="Amount">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="renderPaymentModal()"><h3>Cancel</h3></button>
                    <button type="button" class="btn btn-success" data-dismiss="modal" onclick="renderCashEndModal()"><h3>Submit</h3></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- Payment UI -->
    </div> <!-- Row -->

  </div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-switch.min.js' %}"></script>

<script>
  // Variables
  var csrftoken = '{{ csrf_token }}';
  var totalItemCount = 0;
  var receipt = {
      "items": [],
      "totalPrice": 0,
      "customerName": "",
      "paidByCard": false
  };

  // Receipt Functions
  function createItem(name, itemGuid, price) {
      try {
          var quantity = getQuantity(itemGuid+"Qty");
          var espressoQuantity = getQuantity(itemGuid+"EspQty");
          var chocolateQuantity = getQuantity(itemGuid+"ChocSyrup");
          var vanillaQuantity = getQuantity(itemGuid+"VaniSyrup");
          var hazelnutQuantity = getQuantity(itemGuid+"HazeSyrup");
          var caramelQuantity = getQuantity(itemGuid+"CaraSyrup");
      } catch(e) {
          alert(e.message);
          return;
      }

      // Validate
      if(quantity < 0 || espressoQuantity < 0 || chocolateQuantity < 0 ||
          vanillaQuantity < 0 || hazelnutQuantity < 0 || caramelQuantity < 0) {
          alert("Quantities must be a positive integer.");
          return;
      }

      var item = {
          "name": name,
          "quantity": quantity,
          "price": price,
          "mods": []
      };

      var totalModCount = 0;

      {% for mod in mods_list %}
          if('{{ mod.guid }}' === 'IceOpt') { // TODO: Add isToggle field in db?
              var toggleToQuantityConversion = getToggle(itemGuid + '{{ mod.guid }}') === false ? 0 : 1;
              if (toggleToQuantityVersion > 0) {
                  item['mods'][totalModCount++] = {
                      "name": '{{ mod.name }}',
                      "quantity": toggleToQuantityConversion,
                      "price": {{ mod.price }}
                  };
              }
          } else {
              if (getQuantity(itemGuid + '{{ mod.guid }}') > 0) {
                  item['mods'][totalModCount++] = {
                      "name": '{{ mod.name }}',
                      "quantity": getQuantity(itemGuid + '{{ mod.guid }}'),
                      "price": {{ mod.price }}
                  };
              }
          }
      {% endfor %}

      insertItemToJSON(item);
      updateReceiptText(receipt);

      resetFields(itemGuid);
  }
  function insertItemToJSON(item) {
    receipt["items"][totalItemCount] = item;
    totalItemCount++;
  }
  function resetFields(itemGuid) {
      var modGuids = [];
      {% for mod in mods_list %}
          modGuids.push('{{ mod.guid }}');
      {% endfor %}

      var itemGuidQty = itemGuid + "Qty";

      document.getElementById(itemGuidQty).value = 1;

      // Iterate through all the mods. If not a quantity field, assume it's a toggle and call resetToggle
      for(var i = 0; i < modGuids.length; i++) {
          if(modGuids[i] !== 'IceOpt') {
              document.getElementById(itemGuid + modGuids[i]).value = 0;
          } else {
              resetToggle(itemGuid + modGuids[i]);
          }
      }

  }
  function getCustomerName() {
      if(document.getElementById('customerName').value === "") {
          throw {
              error: "CustomerNameNullException",
              message: "Customer name cannot be empty"
          };
      } else {
          return document.getElementById('customerName').value;
      }
  }
  function submit() {
      try {
          $('#paymentModal').modal('toggle');
      } catch(e) {
          alert(e.message);
      }
  }
  function clear() {
      // This clears the receipt back into default state 
      receipt = {
          "items": [],
          "totalPrice": 0,
          "customerName": "",
          "paidByCard": false
      };
      totalItemCount = 0;
      updateReceiptText();
      document.getElementById('customerName').value = "";
  }
  function getReceipt() {
      if(receipt.items.length > 0) {
        return receipt;
      } else {
          throw {
              error: "EmptyReceiptException",
              message: "Receipt cannot be empty"
          }
      }
  }
  function updateReceiptText(items) {
      var receiptElement = document.getElementById("receipt");
      var totalPriceElement = document.getElementById("totalPrice");

      receiptElement.innerHTML = ""; // Clear the receipt
      var innerHTML = "";
      var items = receipt.items;
      // Iterate through the items array
      for(var i = 0; i < items.length; i++) {
          innerHTML += items[i].quantity + "x <b>" + items[i].name + "</b><br>";
          if(items[i]['mods'].length > 0) {
              for(var k = 0; k < items[i]['mods'].length; k++) {
                  innerHTML += "<span style=\"padding-left:5em\"><i>" + items[i]['mods'][k]['name'] + ": " +
                      items[i]['mods'][k]['quantity'] + "</i></span><br>";
              }
          }
      }

      receiptElement.innerHTML += innerHTML;

      var total = parseFloat(calculateTotalCost(receipt["items"]));
      total = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
      totalPriceElement.innerHTML = total;
  }
  function calculateTotalCost(items) {
      var total = 0.0;
      for(var i = 0; i < items.length; i++) {
          total += (items[i]['price'] * items[i]['quantity']);
//          for(var attribute in items[i]) {
//              if(items[i].hasOwnProperty(attribute)) {
//                  if(items[i][attribute].hasOwnProperty('price')) {
//                      if(items[i][attribute] !== items[i]['name']) {
//                          total += (items[i][attribute]['price'] * items[i][attribute]['quantity']);
//                      }
//                  }
//              }
//          }
          if(items[i]['mods'].length > 0) {
              for(var k = 0; k < items[i]['mods'].length; k++) {
                  total += items[i]['mods'][k]['price'] * items[i]['mods'][k]['quantity'];
              }
          }
      }
      receipt["totalPrice"] = total;
      return total;
  }

  // Quantity Functions
  function addToQuantity(itemGuid) {
      var quantity = 0;
      if(isNaN(parseInt(document.getElementById(itemGuid).value))) {
          alert("Quantity must be a positive integer");
      } else {
          quantity = parseInt(document.getElementById(itemGuid).value) + 1;
          document.getElementById(itemGuid).value = quantity;
      }

      return quantity;
  }
  function subtractFromQuantity(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(isNaN(parseInt(element.value)) || parseInt(element.value) < 0) {
          alert("Quantity must be a positive integer");
      } else {
          var quantity = element.value;
          if(quantity > 1) {
              quantity -= 1;
              element.value = quantity;
          }
      }
      return quantity;
  }
  function getQuantity(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(element !== null) {
          if((new RegExp('[1234567890]*')).test(element.value)) {
              return isNaN(parseInt(element.value)) ? 0 : parseInt(element.value);
          } else {
              throw {
                  error: "Invalid Integer Exception",
                  message: "Quantity must be a positive integer"
              };
          }
      }
      return 0;
  }

  // Toggle Functions
  function toggleOption(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(element.getAttribute('data-toggle') === "false") {
          // Set the toggle to true and highlight the image
          element.setAttribute('data-toggle', "true");
          element.innerHTML = "<b>True</b>";
      } else {
          // Set the toggle to false and deselect the image
          document.getElementById(itemGuid).setAttribute('data-toggle', "false");
          element.innerHTML = "<b>False</b>";
      }
  }
  function getToggle(itemGuid) {
      if(document.getElementById(itemGuid) === null) {
          return null;
      }
      return document.getElementById(itemGuid).getAttribute('data-toggle') === 'true';
  }
  function resetToggle(itemGuid) {
      var element = document.getElementById(itemGuid);
      if(element !== null) {
          element.setAttribute('data-toggle', "false");
          element.innerHTML = "<b>False</b>";
      }
  }

  // Render functions
//  function renderCashModal() {
//    var total = parseFloat(receipt["totalPrice"]);
//    total = total.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
//    $('#paymentModal').modal('toggle');
//    $('#cashModal').modal('toggle');
//    document.getElementById("totalPrice-CashCheckout").innerHTML = total;
//  }
    function renderPaymentModal() {
        $('#paymentModal').modal('toggle');
    }
    function renderCashModal() {
        alert("Cash Order Submitted");
        postReceipt();
    }
    function renderCreditModal() {
        alert("Card Order Submitted");
        receipt["paidByCard"] = true;
        postReceipt();
    }
    function postReceipt() {
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        receipt['customerName'] = getCustomerName();
        receipt_json = JSON.stringify(receipt);
        console.log(receipt);
        $.ajax({
            url: '/cashier/submit_order',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            processData: false,
            data: receipt_json,
            traditional: true,
            success: function(result) {
                alert(result.Result);
            }
        });

        $('#paymentModal').modal('toggle');
        clear();
    }
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
    }
    // On Document Ready
    $( document ).ready(function() {
    });
</script>

</body>
</html>
